[Unit]

Description=OASIS Home Assistant
After=network.target

[Service]

#
# User configuration
#
# TODO: Better way to define this
#

User=ubuntu

#
# ROS 2 configuration
#

Environment=ROS2_DISTRO=kilted
Environment=RMW_IMPLEMENTATION=rmw_zenoh_cpp

#
# Path configuration
#

Environment=OASIS_ENV=/home/${USER}/Documents/ros-ws/src/oasis/ros-ws/oasis-${ROS2_DISTRO}/install/setup.bash

#
# Service definition
#

# Delay launch until the system has been up long enough for ROS nodes to connect
ExecStart=/bin/bash -c 'set +o nounset && source `eval echo "${OASIS_ENV}"` && "$(ros2 pkg prefix oasis_drivers_py)/lib/oasis_drivers_py/delay_launch.sh" && ros2 launch oasis_hass hass_launch.py'

Restart=on-failure

[Install]

WantedBy=multi-user.target

# To install:
# sudo cp oasis_hass.service /etc/systemd/system/

# To enable at startup:
# sudo systemctl enable oasis_hass.service
