[submodule "oasis_avr/cmake/Arduino-CMake-Toolchain"]
	path = oasis_avr/cmake/Arduino-CMake-Toolchain
	url = https://github.com/a9183756-gh/Arduino-CMake-Toolchain.git
[submodule "oasis_avr/libraries/FirmataExpress"]
	path = oasis_avr/libraries/FirmataExpress
	url = https://github.com/MrYsLab/FirmataExpress.git
[submodule "oasis_avr/libraries/Ultrasonic"]
	path = oasis_avr/libraries/Ultrasonic
	url = https://github.com/ErickSimoes/Ultrasonic.git
[submodule "oasis_avr/libraries/DHTStable"]
	path = oasis_avr/libraries/DHTStable
	url = https://github.com/RobTillaart/DHTstable.git
[submodule "oasis_avr/libraries/Scheduler"]
	path = oasis_avr/libraries/Scheduler
	url = https://github.com/mikaelpatel/Arduino-Scheduler.git
[submodule "oasis_avr/libraries/Adafruit_BluefruitLE_nRF51"]
	path = oasis_avr/libraries/Adafruit_BluefruitLE_nRF51
	url = https://github.com/adafruit/Adafruit_BluefruitLE_nRF51.git
[submodule "oasis_avr/libraries/OneWire"]
	path = oasis_avr/libraries/OneWire
	url = https://github.com/PaulStoffregen/OneWire.git
[submodule "oasis_avr/libraries/AccelStepper"]
	path = oasis_avr/libraries/AccelStepper
	url = https://github.com/waspinator/AccelStepper.git
