# Colcon files
/build
/install
/log

# CI build files
/ros-ws

# Python ignorables
.idea
.mypy_cache
.tox
__pycache__

# Eclipse ignorables
.classpath
.cproject
.project
.settings/

# macOS ignorables
.DS_Store
._*
