black==25.9.0
cachetools==6.2.0
chardet==5.2.0
click==8.3.0
colorama==0.4.6
distlib==0.4.0
filelock==3.19.1
flake8==7.3.0
flake8-blind-except==0.2.1
flake8-builtins==3.0.0
flake8-comprehensions==3.17.0
flake8-deprecated==2.2.1
flake8-docstrings==1.7.0
flake8-logging-format==2024.24.12
flake8-quotes==3.4.0
flake8_import_order==0.19.2
isort==6.0.1
mccabe==0.7.0
mypy==1.18.2
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.4.0
pluggy==1.6.0
pycodestyle==2.14.0
pydocstyle==6.3.0
pyflakes==3.4.0
pyproject-api==1.9.1
pytokens==0.1.10
setuptools==80.9.0
snowballstemmer==3.0.1
tox==4.30.2
types-pyserial==3.5.0.20240527
typing_extensions==4.15.0
virtualenv==20.34.0
