black==25.12.0
click==8.3.1
flake8==7.3.0
flake8-blind-except==0.2.1
flake8-builtins==3.1.0
flake8-comprehensions==3.17.0
flake8-deprecated==2.3.0
flake8-docstrings==1.7.0
flake8-logging-format==2024.24.12
flake8-quotes==3.4.0
flake8_import_order==0.19.2
iniconfig==2.3.0
isort==7.0.0
librt==0.7.7
mccabe==0.7.0
mypy==1.19.1
mypy_extensions==1.1.0
numpy==2.4.0
packaging==25.0
pathspec==1.0.1
platformdirs==4.5.1
pluggy==1.6.0
pycodestyle==2.14.0
pydocstyle==6.3.0
pyflakes==3.4.0
Pygments==2.19.2
pytest==9.0.2
PyYAML==6.0.2
pytokens==0.3.0
setuptools==80.9.0
snowballstemmer==3.0.1
types-paho-mqtt==1.6.0.20240321
types-psutil==7.2.1.20251231
types-pyserial==3.5.0.20251001
types-PyYAML==6.0.12.20250915
types-setuptools==80.9.0.20251223
typing_extensions==4.15.0
