[Unit]

Description=OASIS perception
After=network.target

[Service]

#
# User configuration
#
# TODO: Better way to define this
#

User=garrett

#
# ROS 2 configuration
#

Environment=ROS2_DISTRO=jazzy
Environment=RMW_IMPLEMENTATION=rmw_fastrtps_cpp

#
# OpenCV configuration
#

Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-0

#
# Path configuraiton
#

Environment=OASIS_SRC=/home/${USER}/Documents/ros-ws/src/oasis
Environment=OASIS_ENV=/home/${USER}/Documents/ros-ws/src/oasis/ros-ws/oasis-${ROS2_DISTRO}/install/setup.bash

#
# Service definition
#

ExecStart=/bin/bash -c 'set +o nounset && source `eval echo "${OASIS_ENV}"` && cd `eval echo "${OASIS_SRC}/oasis_perception"` && ros2 launch oasis_perception perception_launch.py'
Restart=on-failure

[Install]

WantedBy=multi-user.target

# To install:
# sudo cp oasis_perception.service /etc/systemd/system/

# To enable at startup:
# sudo ln -s /etc/systemd/system/oasis_perception.service /etc/systemd/system/multi-user.target.wants/oasis_perception.service
