[Unit]
Description=OASIS perception
After=network.target

[Service]

#
# ROS 2 configuration
#

Environment=ROS2_DISTRO=humble

#
# OpenCV configuration
#

Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-0

#
# Path configuraiton
#

Environment=OASIS_SRC=/home/${USER}/Documents/ros-ws/src/oasis
Environment=OASIS_ENV=/home/${USER}/Documents/ros-ws/src/oasis/ros-ws/oasis-${ROS2_DISTRO}/install/setup.bash

Environment=PYTHON_BIN_DIR=/home/${USER}/Documents/ros-ws/src/oasis/ros-ws/python/install/bin
Environment=PYTHON_LIB_DIR=/home/${USER}/Documents/ros-ws/src/oasis/ros-ws/python/install/lib

#
# Service definition
#

User=garrett
ExecStart=/bin/bash -c 'export PATH="${PYTHON_BIN_DIR}:${PATH}" && export LD_LIBRARY_PATH="${PYTHON_LIB_DIR}" && source `eval echo "${OASIS_ENV}"` && cd `eval echo "${OASIS_SRC}/oasis_perception"` && ros2 launch oasis_perception perception_launch.py'
Restart=on-failure
RuntimeMaxSec=60

[Install]
WantedBy=multi-user.target

# To install:
# sudo cp oasis_perception.service /etc/systemd/system/

# To enable at startup:
# sudo ln -s /etc/systemd/system/oasis_perception.service /etc/systemd/system/multi-user.target.wants/oasis_perception.service
