[Unit]

Description=OASIS perception
After=network.target

[Service]

#
# User configuration
#
# TODO: Better way to define this
#

User=ubuntu

#
# ROS 2 configuration
#

Environment=ROS2_DISTRO=kilted
Environment=RMW_IMPLEMENTATION=rmw_fastrtps_dynamic_cpp

#
# OpenCV configuration
#

Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-0
Environment=QT_QPA_PLATFORM=offscreen

#
# Path configuration
#

Environment=OASIS_SRC=/home/${USER}/Documents/ros-ws/src/oasis
Environment=OASIS_ENV=/home/${USER}/Documents/ros-ws/src/oasis/ros-ws/oasis-${ROS2_DISTRO}/install/setup.bash
Environment=OPENCV_LIB_DIR=/home/${USER}/Documents/ros-ws/src/oasis/ros-ws/cv/install/lib

#
# Service definition
#

# Delay launch until the system has been up long enough for ROS nodes to connect
# Need to run from oasis_perception_cpp for background subtractor to find configs
ExecStart=/bin/bash -c 'set +o nounset && export LD_LIBRARY_PATH="`eval echo "${OPENCV_LIB_DIR}"`:${LD_LIBRARY_PATH:-}" && source `eval echo "${OASIS_ENV}"` && DELAY_SCRIPT="$(ros2 pkg prefix oasis_drivers_py)/lib/oasis_drivers_py/delay_launch.sh" && "${DELAY_SCRIPT}" && cd `eval echo "${OASIS_SRC}/oasis_perception_cpp"` && ros2 launch oasis_perception_py perception_launch.py'
Restart=on-failure

[Install]

WantedBy=multi-user.target

# To install:
# sudo cp oasis_perception.service /etc/systemd/system/

# To enable at startup:
# sudo ln -s /etc/systemd/system/oasis_perception.service /etc/systemd/system/multi-user.target.wants/oasis_perception.service
