# mEDBG / Xplained Mini (UPDI) on Arduino Uno WiFi Rev2
SUBSYSTEM=="usb", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2145", MODE="0666", GROUP="plugdev", TAG+="uaccess"
KERNEL=="hidraw*", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2145", MODE="0666", GROUP="plugdev", TAG+="uaccess"

# We want the CDC ACM node open too
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2145", MODE="0666", GROUP="dialout", TAG+="uaccess"
