[Unit]
Description=Kodi Visualizer
After=network.target

[Service]
Type=simple
User=garrett
#EnvironmentFile=/etc/default/sundstrom_env
Environment=DISPLAY=:0
Environment=ROS2_DISTRO=foxy
Environment=ROS2_SYSTEM_ENV=/opt/ros/${ROS2_DISTRO}/setup.bash
Environment=ROS2_DESKTOP_ENV=/home/${USER}/Documents/ros-ws/src/oasis/ros-ws/ros2-desktop-${ROS2_DISTRO}/install/setup.bash
Environment=ROS2_DEPENDS_ENV=/home/${USER}/Documents/ros-ws/src/oasis/ros-ws/ros2-depends-${ROS2_DISTRO}/install/setup.bash
Environment=KODI_BINARY=/home/${USER}/Documents/kodi/build/kodi-x11
ExecStart=/bin/bash -c '( [ ! -f `eval echo "${ROS2_SYSTEM_ENV}"` ] || . `eval echo "${ROS2_SYSTEM_ENV}"` ) && ( [ ! -f `eval echo "${ROS2_DESKTOP_ENV}"` ] || . `eval echo "${ROS2_DESKTOP_ENV}"` ) && . `eval echo "${ROS2_DEPENDS_ENV}"` && `eval echo "${KODI_BINARY}"`'
Restart=always

[Install]
WantedBy=multi-user.target

# To enable at startup:
#sudo ln -s /etc/systemd/system/kodi_visualizer.service /etc/systemd/system/multi-user.target.wants/kodi_visualizer.service
