[Unit]

Description=Kodi Visualizer
After=network.target dbus.service polkit.service upower.service udisks.service
Wants=network-online.target

[Service]

#
# User configuration
#
# TODO: Better way to define this
#

User=garrett
Environment=XDG_RUNTIME_DIR=/run/user/1000

#
# ROS 2 configuration
#

Environment=ROS2_DISTRO=iron
Environment=RMW_IMPLEMENTATION=rmw_fastrtps_cpp

#
# Kodi configuration
#

Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-0

#
# Path configuraiton
#

Environment=PYTHON_ENV=/home/${USER}/Documents/ros-ws/src/oasis/oasis_tooling/scripts/env_python.sh
Environment=OASIS_ENV=/home/${USER}/Documents/ros-ws/src/oasis/ros-ws/oasis-${ROS2_DISTRO}/install/setup.bash
Environment=KODI_BINARY=/home/${USER}/Documents/ros-ws/src/oasis/ros-ws/kodi-${ROS2_DISTRO}/install/bin/kodi

#
# Service definition
#

ExecStart=/bin/bash -c 'source `eval echo "${PYTHON_ENV}"` && export PYTHONHOME="${PYTHONUSERBASE}" && set +o nounset && source `eval echo "${OASIS_ENV}"` && `eval echo "${KODI_BINARY}"`'
Restart=always

[Install]

WantedBy=multi-user.target

# To install:
# sudo cp kodi_visualizer.service /etc/systemd/system/

# To enable at startup:
# sudo ln -s /etc/systemd/system/kodi_visualizer.service /etc/systemd/system/multi-user.target.wants/kodi_visualizer.service
