[Unit]
Description=Kodi Visualizer
After=network.target

[Service]

#
# ROS 2 configuration
#

Environment=ROS2_DISTRO=galactic

#
# Kodi configuration
#

Environment=DISPLAY=:0

#
# Path configuraiton
#

Environment=OASIS_ENV=/home/${USER}/Documents/ros-ws/src/oasis/ros-ws/oasis-${ROS2_DISTRO}/install/setup.bash

Environment=PYTHON_BIN_DIR=/home/${USER}/Documents/ros-ws/src/oasis/ros-ws/python/install/bin
Environment=PYTHON_LIB_DIR=/home/${USER}/Documents/ros-ws/src/oasis/ros-ws/python/install/lib

Environment=KODI_BINARY=/home/${USER}/Documents/ros-ws/src/oasis/ros-ws/kodi-${ROS2_DISTRO}/install/bin/kodi

#
# Service definition
#

User=garrett
ExecStartPre=/bin/sleep 10
ExecStart=/bin/bash -c 'export PATH="${PYTHON_BIN_DIR}:${PATH}" && export LD_LIBRARY_PATH="${PYTHON_LIB_DIR}" && source `eval echo "${OASIS_ENV}"` && `eval echo "${KODI_BINARY}"`'
Restart=always

[Install]
WantedBy=multi-user.target

# To install:
# sudo cp kodi_visualizer.service /etc/systemd/system/

# To enable at startup:
# sudo ln -s /etc/systemd/system/kodi_visualizer.service /etc/systemd/system/multi-user.target.wants/kodi_visualizer.service
