[Unit]

Description=OASIS OLED visualizer
After=network-online.target
Wants=network-online.target

[Service]

User=ubuntu

# ROS 2 distro and middleware
Environment=ROS2_DISTRO=@ROS2_DISTRO@
Environment=RMW_IMPLEMENTATION=rmw_fastrtps_dynamic_cpp

# Remove ROS 2 log timestamps and logger names to keep lines short and readable
Environment=RCUTILS_CONSOLE_OUTPUT_FORMAT="[{severity}]: {message}"

# OASIS workspace configuration
Environment=OASIS_ENV=/home/${USER}/Documents/ros-ws/src/oasis/ros-ws/oasis-${ROS2_DISTRO}/install/setup.bash

ExecStart=/bin/bash -c 'set +o nounset && source `eval echo "${OASIS_ENV}"` && ros2 run oasis_visualization oled_visualizer'

Restart=always

[Install]

WantedBy=multi-user.target
