[Unit]

Description=OASIS control
After=network.target

[Service]

#
# User configuration
#
# TODO: Better way to define this
#

User=garrett

#
# ROS 2 configuration
#

Environment=ROS2_DISTRO=jazzy
Environment=RMW_IMPLEMENTATION=rmw_fastrtps_cpp

#
# Path configuraiton
#

Environment=OASIS_ENV=/home/${USER}/Documents/ros-ws/src/oasis/ros-ws/oasis-${ROS2_DISTRO}/install/setup.bash

#
# Service definition
#

ExecStart=/bin/bash -c 'set +o nounset && source `eval echo "${OASIS_ENV}"` && ros2 launch oasis_control control_launch.py'
Restart=on-failure

[Install]

WantedBy=multi-user.target

# To install:
# sudo cp oasis_control.service /etc/systemd/system/

# To enable at startup:
# sudo ln -s /etc/systemd/system/oasis_control.service /etc/systemd/system/multi-user.target.wants/oasis_control.service
