[Unit]
Description=OASIS drivers
After=network.target

[Service]

#
# ROS 2 configuration
#

Environment=ROS2_DISTRO=galactic

#
# Path configuraiton
#

Environment=ROS2_DESKTOP_ENV=/home/${USER}/Documents/ros-ws/src/oasis/ros-ws/ros2-desktop-${ROS2_DISTRO}/install/setup.bash
Environment=OASIS_DEPENDS_ENV=/home/${USER}/Documents/ros-ws/src/oasis/ros-ws/oasis-depends-${ROS2_DISTRO}/install/setup.bash
Environment=OASIS_ENV=/home/${USER}/Documents/ros-ws/src/oasis/ros-ws/oasis-${ROS2_DISTRO}/install/setup.bash

Environment=PYTHON_BIN_DIR=/home/${USER}/Documents/ros-ws/src/oasis/ros-ws/python/install/bin
Environment=PYTHON_LIB_DIR=/home/${USER}/Documents/ros-ws/src/oasis/ros-ws/python/install/lib

#
# Service definition
#

User=garrett
ExecStartPre=/bin/sleep 10
ExecStart=/bin/bash -c 'export PATH="${PYTHON_BIN_DIR}:${PATH}" && export LD_LIBRARY_PATH="${PYTHON_LIB_DIR}" && source `eval echo "${ROS2_DESKTOP_ENV}"` && source `eval echo "${OASIS_DEPENDS_ENV}"` && source `eval echo "${OASIS_ENV}"` && ros2 launch oasis_drivers_py drivers_launch.py'
Restart=on-failure

[Install]
WantedBy=multi-user.target

# To install:
# sudo cp oasis_drivers.service /etc/systemd/system/

# To enable at startup:
# sudo ln -s /etc/systemd/system/oasis_drivers.service /etc/systemd/system/multi-user.target.wants/oasis_drivers.service
