[Unit]

Description=Zenoh router for ROS 2 (rmw_zenoh_cpp)

After=network-online.target
Wants=network-online.target

[Service]

Type=simple

#
# User configuration
#
# TODO: Better way to define this
#

User=ubuntu

#
# ROS 2 configuration
#

# ROS 2 distro and middleware
Environment=ROS2_DISTRO=@ROS2_DISTRO@
Environment=RMW_IMPLEMENTATION=rmw_zenoh_cpp

# Remove ROS 2 log timestamps and logger names to keep lines short and readable
Environment=RCUTILS_CONSOLE_OUTPUT_FORMAT="[{severity}]: {message}"

#
# Path configuration
#

Environment=OASIS_ENV=/home/${USER}/Documents/ros-ws/src/oasis/ros-ws/oasis-${ROS2_DISTRO}/install/setup.bash

#
# Service definition
#

ExecStart=/bin/bash -lc 'source `eval echo "${OASIS_ENV}"` && ros2 run rmw_zenoh_cpp rmw_zenohd'

Restart=on-failure
RestartSec=5

[Install]

WantedBy=multi-user.target
