[Unit]
Description=OASIS automation
After=network.target

[Service]
User=garrett
Environment=ROS2_DISTRO=galactic
Environment=ROS2_SYSTEM_ENV=/opt/ros/${ROS2_DISTRO}/setup.bash
Environment=ROS2_DESKTOP_ENV=/home/${USER}/Documents/ros-ws/src/oasis/ros-ws/ros2-desktop-${ROS2_DISTRO}/install/setup.bash
Environment=ROS2_DEPENDS_ENV=/home/${USER}/Documents/ros-ws/src/oasis/ros-ws/ros2-depends-${ROS2_DISTRO}/install/setup.bash
Environment=ROS2_PROJECT_ENV=/home/${USER}/Documents/ros-ws/install/setup.bash
ExecStartPre=/bin/sleep 10
ExecStart=/bin/bash -c '( [ ! -f `eval echo "${ROS2_SYSTEM_ENV}"` ] || . `eval echo "${ROS2_SYSTEM_ENV}"` ) && ( [ ! -f `eval echo "${ROS2_DESKTOP_ENV}"` ] || . `eval echo "${ROS2_DESKTOP_ENV}"` ) && . `eval echo "${ROS2_DEPENDS_ENV}"` && . `eval echo "${ROS2_PROJECT_ENV}"` && ros2 launch --debug oasis_automation automation_launch.py'
Restart=on-failure

[Install]
WantedBy=multi-user.target

# To install:
# sudo cp oasis_automation.service /etc/systemd/system/

# To enable at startup:
# sudo ln -s /etc/systemd/system/oasis_automation.service /etc/systemd/system/multi-user.target.wants/oasis_automation.service
