################################################################################
# This workflow will install Python dependencies, run tests and lint with a
# variety of Python versions. For more information see:
# https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions
################################################################################

name: OASIS Python

# Controls when the action will run. Triggers the workflow on push or pull
# request events
on: [push, pull_request]

# A workflow run is made up of one or more jobs that can run sequentially or in
# parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04

    # Steps represent a sequence of tasks that will be executed as part of the
    # job
    steps:
      - name: Build environment information
        run: 'echo "Matrix OS: ${{ matrix.os }} on $HOSTNAME with $(getconf _NPROCESSORS_ONLN) cores"'

      # Check-out the repository under $GITHUB_WORKSPACE, so the job can
      # access it
      - name: Checkout main repo
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Restore oasis_msgs
        id: restore-oasis-msgs
        uses: actions/cache@v4
        with:
          path: ros-ws/oasis-kilted/install
          key: oasis-msgs-${{ runner.os }}-${{ hashFiles('oasis_msgs/msg/**', 'oasis_msgs/srv/**', 'oasis_msgs/CMakeLists.txt', 'oasis_msgs/package.xml') }}

      - name: Setup ROS 2 apt sources
        if: steps.restore-oasis-msgs.outputs.cache-hit != 'true'
        run: ./oasis_tooling/scripts/setup_ros2_desktop.sh

      - name: Install ROS message dependencies
        if: steps.restore-oasis-msgs.outputs.cache-hit != 'true'
        run: |
          sudo apt-get install -y \
            cmake \
            python3-empy \
            ros-kilted-ament-cmake \
            ros-kilted-geometry-msgs \
            ros-kilted-rosidl-default-generators \
            ros-kilted-rosidl-default-runtime \
            ros-kilted-sensor-msgs \
            ros-kilted-std-msgs

      - name: Ensure ROS Python tooling is available
        if: steps.restore-oasis-msgs.outputs.cache-hit != 'true'
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install empy catkin_pkg

      - name: Build oasis_msgs
        if: steps.restore-oasis-msgs.outputs.cache-hit != 'true'
        run: |
          source /opt/ros/kilted/setup.bash
          mkdir -p oasis_msgs/build
          cd oasis_msgs/build
          cmake .. -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/ros-ws/oasis-kilted/install
          make
          make install

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip3 install tox

      - name: Restore tox environment
        id: restore-tox
        uses: actions/cache@v4
        with:
          path: |
            .tox
          key: tox-env-${{ hashFiles('tox.ini', 'requirements-tox.txt') }}

      # Run the tests!
      - name: Run tox
        run: |
          tox
