################################################################################
# This workflow will do a clean install of project dependencies, build the
# source code and run tests.
################################################################################

name: OASIS ROS

# Controls when the action will run. Triggers the workflow on push or pull
# request events
on:
  push:
  pull_request:
  schedule:
    # Schedule the workflow to run at midnight on the first day of each month (UTC time)
    - cron: '0 0 1 * *'

# A workflow run is made up of one or more jobs that can run sequentially or in
# parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04
            ros2_distro: kilted

    # Steps represent a sequence of tasks that will be executed as part of the
    # job
    steps:
      - name: Build environment information
        run: 'echo "Matrix OS: ${{ matrix.os }} on $HOSTNAME with $(getconf _NPROCESSORS_ONLN) cores"'

      # Check-out the repository under $GITHUB_WORKSPACE, so the job can
      # access it
      - name: Checkout main repo
        uses: actions/checkout@v4

      # Compute all cache hashes once
      - name: Compute cache hashes
        uses: actions/github-script@v7
        with:
          # Include messages with perception_cpp as keys can't be longer than
          # 512 characters
          script: |
            async function hash(patterns) {
              return await glob.hashFiles(patterns.join('\n'));
            }

            async function setHash(name, patterns) {
              const value = await hash(patterns);
              core.setOutput(name, value);
              core.exportVariable(name, value);
            }

            await setHash('CMAKE_HASH', [
              'oasis_tooling/scripts/*cmake.sh',
            ]);

            await setHash('OPENCV_HASH', [
              'oasis_tooling/config/opencv/**',
              'oasis_tooling/scripts/*cv.sh',
            ]);

            await setHash('ROS2_DESKTOP_HASH', [
              'oasis_tooling/config/image_common/**',
              'oasis_tooling/scripts/*ros2_desktop.sh',
            ]);

            await setHash('OASIS_DEPENDS_HASH', [
              'oasis_tooling/config/bgslibrary/**',
              'oasis_tooling/config/camera_ros/**',
              'oasis_tooling/config/depends.repos',
              'oasis_tooling/config/i2cdevlib/**',
              'oasis_tooling/config/libcamera_cmake/**',
              'oasis_tooling/config/libcec/**',
              'oasis_tooling/config/libfreenect2/**',
              'oasis_tooling/config/OpenNI/**',
              'oasis_tooling/config/ORB_SLAM_OASIS/**',
              'oasis_tooling/config/p8-platform/**',
              'oasis_tooling/config/pangolin/**',
              'oasis_tooling/config/vision_opencv/**',
              'oasis_tooling/scripts/*oasis_deps.sh',
            ]);

            await setHash('MEDIAPIPE_HASH', [
              'oasis_tooling/config/mediapipe/**',
              'oasis_tooling/scripts/*mediapipe.sh',
            ]);

            await setHash('ARDUINO_BOOTSTRAP_HASH', [
              'oasis_avr/bootstrap.sh',
              'oasis_avr/scripts/get_arduino_platform.sh',
            ]);

            await setHash('OASIS_AVR_HASH', [
              'oasis_avr/**',
            ]);

            await setHash('OASIS_DRIVERS_CPP_HASH', [
              'oasis_drivers_cpp/**',
            ]);

            await setHash('OASIS_MESSAGES_HASH', [
              'oasis_msgs/**',
            ]);

            await setHash('OASIS_PERCEPTION_CPP_HASH', [
              'oasis_msgs/**',
              'oasis_perception_cpp/**',
            ]);

            await setHash('OASIS_RUNTIME_HASH', [
              'oasis_tooling/scripts/rdepinstall_oasis.sh',
            ]);

      - name: Restore CMake
        id: restore-cmake
        if: matrix.os != 'macbook'
        uses: actions/cache@v4
        with:
          path: |
            ros-ws/cmake/install
          key: >
            restore-cmake-\
            ${{ matrix.os }}-\
            ${{ env.CMAKE_HASH }}

      - name: Restore OpenCV
        id: restore-opencv
        uses: actions/cache@v4
        with:
          path: |
            ros-ws/cv/install
          key: >
            restore-opencv-\
            ${{ matrix.os }}-\
            ${{ env.OPENCV_HASH }}-\
            ${{ env.CMAKE_HASH }}

      - name: Restore ROS 2 Desktop
        id: restore-ros2-desktop
        uses: actions/cache@v4
        with:
          path: |
            ros-ws/ros2-desktop-${{ matrix.ros2_distro }}/install
          key: >
            restore-ros2-desktop-\
            ${{ matrix.os }}-\
            ${{ matrix.ros2_distro }}-\
            ${{ env.ROS2_DESKTOP_HASH }}-\
            ${{ env.CMAKE_HASH }}

      - name: Install CMake dependencies
        if: steps.restore-cmake.outputs.cache-hit != 'true'
        run: ./oasis_tooling/scripts/depinstall_cmake.sh

      - name: Build CMake
        if: steps.restore-cmake.outputs.cache-hit != 'true'
        run: ./oasis_tooling/scripts/build_cmake.sh

      - name: Install OpenCV dependencies
        if: steps.restore-opencv.outputs.cache-hit != 'true'
        run: ./oasis_tooling/scripts/depinstall_cv.sh

      - name: Build OpenCV
        if: steps.restore-opencv.outputs.cache-hit != 'true'
        run: ./oasis_tooling/scripts/build_cv.sh

      - name: Install ROS 2 Desktop dependencies
        if: steps.restore-ros2-desktop.outputs.cache-hit != 'true'
        run: ./oasis_tooling/scripts/depinstall_ros2_desktop.sh

      - name: Build ROS 2 Desktop
        if: steps.restore-ros2-desktop.outputs.cache-hit != 'true'
        run: ./oasis_tooling/scripts/build_ros2_desktop.sh
